$titleColor: #f2ac66;
$titleFont: "Futura Pt";
$titleFontSize: 3.75rem;
$highlightColor: #f69a7e;
$descriptionColor: #362112;
$fontWeight: 540;

body {
  background-color: #fef7f0;
}

.PageTitleCenter {
  text-align: center;
  font-family: $titleFont;
  font-weight: bold;
  font-size: $titleFontSize;
  color: $titleColor;
}

.PageTitleRight {
  text-align: right;
  font-family: $titleFont;
  font-weight: bold;
  font-size: $titleFontSize;
  color: $titleColor;
}

.PageTitleLeft {
  text-align: left;
  font-family: $titleFont;
  font-weight: bold;
  font-size: $titleFontSize;
  color: $titleColor;
}

.OverOns {
  display: block;
  margin: 10%;
}

.content-description {
  margin-top: 3%;
  line-height: 60px;
  font-size: 1.3em;
  text-align: center;
  color: $descriptionColor;
  font-family: $titleFont;
  font-weight: $fontWeight;
}

.Bieren {
  margin: 10% 0% 0% 0%;
}

.background-color {
  margin-left: 30%;
  background-color: #fde9d6;
  .content-description {
    text-align: right;
  }
}

.image {
  margin-top: 5%;
  position: absolute;
  margin-left: 5rem;
  width: 45%;
  z-index: 1;
}

.container-card {
  margin-right: 5rem;
  padding: 10% 0% 10% 0%;
}

.highlight {
  color: $highlightColor;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;

  .button {
    font-family: $titleFont;
    font-weight: $fontWeight;
    background-color: $titleColor;
    border: none;
    color: $descriptionColor;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 4px 2px;
    padding: 12px 50px;
    cursor: pointer;
  }
}

.Terras {
  margin: 5% 0% 25% 0%;
  .terras-container {
    display: flex;
    margin-left: 5rem;
    .image {
      margin-top: 10%;
      margin-left: 60%;
      width: 30%;
      z-index: 0;
    }
    .container-card {
      width: 50%;
      .content-description {
        text-align: left;
      }
    }
  }
}

.Contact {
  width: 100%;
  border: solid black;
  display: flex;
  justify-content: center;
  .background-color{
    width: 90%;
    margin-left: 0%;
  }
  .content-description {
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
    .socials{
      width: 13%;
    }
    .adress{
      text-align: left;
      line-height: 0px;
    }
    
    ul {
      list-style: none;
    }
    img {
      width:25%;
    }
    
  }
}
