.Contact {
  margin: 15% 0%;
  text-align: right;
  h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 2.5rem;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 5% 0%;
    font-size: 1.5rem;
  }
  .line {
    margin-top: -5%;
  }
  .images {
    img {
      padding-left: 10%;
    }
  }
}

@media (min-width: 768px) {
  .Contact {
    margin: 10% 0%;
    .title {
      margin: 2% 0%;
    }
    .content {
      margin-top: 3%;
    }
    h1 {
      font-size: 5rem;
    }
    h2 {
      margin-top: 0%;
      font-size: 3rem;
    }
    .line {
      margin-top: -2%;
      img {
        width: 50%;
      }
    }
    .images {
      display: flex;
      margin-top: -8%;
      img {
        margin-top: -1%;
        width: 130px;
        padding-left: 5%;
      }
    }
  }
}
