.Footer {
  .footer-container {
    font-family: "Raleway", sans-serif;
    color: #D7D6D4;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 0% -7%;
    margin-top: 7%;
    padding: 3%;
    font-size: .75rem;
    font-weight: 300;
    background-color: #ca8796;
  }
}
