$backgroundColor: #d7d6d4;
$accentColor: #BD3656;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $backgroundColor;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}



/* Responsiveness */
@media (min-width: 768px) {
  
}