$accentColor: #bd3656;

.Projects {
  margin-top: 15%;

  .accent {
    color: $accentColor;
  }

  h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 2.5rem;
  }

  .line-end {
    margin: 0.1% 0%;
  }

  .project-titles {
    .project-item {
      display: flex;
      justify-content: space-between;
      margin: 5% 0%;
      padding-bottom: 10px;

      p {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;

        &:nth-child(2) {
          font-size: 0.6em;
          align-self: flex-end;
        }

        &:nth-child(3) {
          font-size: 0.6rem;
          color: $accentColor;
          align-self: flex-end;
        }
      }

      border-bottom: 0.9px solid black;

      &:hover {
        border-bottom-color: #cac9c8;
      }
    }
  }

  button {
    display: flex;
    margin-top: 5%;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    background-color: #d7d6d4;
    text-decoration: none;
    color: black;
  }

  .learn-more {
    text-decoration: none;
    color: black;
    img {
      margin-top: -3px;
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .item-info {
    position: relative;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: justify;

    p {
      font-family: "Raleway", sans-serif;
      font-weight: lighter;
      font-size: 0.7rem;
    }
  }

  .close-arrow {
    display: none;
  }

  .designImages {
  margin: 10% 0%;
    img {
      max-width: 100%;  // Set maximum width to 100% of the container
      height: auto;     // Maintain the aspect ratio while resizing
      margin-bottom: 10px; // Add margin for spacing between images
    }
  }

  #logo {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  @media (min-width: 768px) {
    margin-top: 8%;

    h1 {
      font-size: 3.5rem;
    }

    .project-wrapper {
      margin-top: 3%;
    }

    .project-titles {
      .project-item {
        display: flex;
        margin: 1% 0%;
        padding-bottom: 20px;
        font-size: 2rem;

        p {
          font-family: "Raleway", sans-serif;
          font-weight: lighter;

          &:nth-child(2) {
            font-size: 1.2rem;
          }

          &:nth-child(3) {
            font-size: 1.2rem;
            color: $accentColor;
          }
        }

        border-bottom: 1.5px solid black;

        &:hover {
          border-bottom-color: #C08A96;
        }
      }
    }

    .item-info {
      position: relative;
      padding-top: 1%;
      padding-bottom: 3%;

      p {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        font-size: 1.2rem;
      }
    }

    button {
      display: flex;
      margin-top: 1.5%;
      border: none;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 1rem;
      background-color: #d7d6d4;
    }

    .learn-more {
      img {
        margin-left: 20px;
      }
    }

    .close-arrow {
      display: block;
      position: absolute;
      top: -4px;
      right: 5px;
      img {
        transition: transform 0.3s ease;

        width: 10px;
        height: 10px;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
    .designImages {
      display: flex;
      flex-direction: column; // Display images in a column layout
      margin: 2% 0%;
    
      #first-two-images {
        display: flex; // Display the first two images in a row
        margin-bottom: 10px; // Add margin for spacing between rows
    
        #chima-logo {
          max-width: 30%;
          max-height: 30%;
          width: auto;
          height: auto;
          margin-right: 10px; // Add margin for spacing between images
        }
    
        #chima-mockup {
          max-width: 50%;
          max-height: 50%;
          width: auto;
          height: auto;
        }
      }
    
      #chima-screenshot {
        max-width: 50%;
        max-height: 20%;
        width: auto;
        height: auto;
      }

      #amai-logo {
        max-width: 30%;
        max-height: 30%;
        width: auto;
        height: auto;
        margin-right: 10px; // Add margin for spacing between images
      }
  
      #amai-mockup {
        max-width: 30%;
        max-height: 30%;
        width: auto;
        height: auto;
      }
    }
  
    #amai-mockup2 {
      max-width: 30%;
      max-height: 20%;
      margin-left: 10px;
      width: auto;
      height: auto;
    }

    #chima-logo {
      max-width: 30%;
      max-height: 30%;
      width: auto;
      height: auto;
      margin-right: 10px; // Add margin for spacing between images
    }

    #chima-mockup {
      max-width: 50%;
      max-height: 50%;
      width: auto;
      height: auto;
    }

    #poster {
      max-width: 30%;
      max-height: 30%;
      width: auto;
      height: auto;
      margin-right: 10px; // Add margin for spacing between images
    }

    #ls-mockup {
      max-width: 30%;
      max-height: 30%;
      width: auto;
      height: auto;
    }

    #neutral {
      max-width: 30%;
      max-height: 30%;
      width: auto;
      height: auto;
      margin-left: 10px;

    }

    #first-three-images {
      display: flex; // Display the first two images in a row
      margin-bottom: 10px; // Add margin for spacing between rows
    }

    #menu {
      max-width: 30%;
      max-height: 30%;
      width: auto;
      height: auto;
      margin-right: 10px; // Add margin for spacing between images
    }

    #logo {
      max-width: 30%;
      width: auto;
      height: 50%;
      margin-left: 10px;
    }

    #card {
      max-width: 40%;
      width: auto;
      height: 50%;
      margin-left: 10px;
    }
  }
    
}
