$accentColor: #bd3656;

.Projects {
  margin-top: 15%;
  .accent {
    color: $accentColor;
  }
  h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 2.5rem;
  }
  .line-end {
    margin: 0.1% 0%;
  }

  .project-titles{
    .project-item{
      display: flex;
      justify-content: space-between;
      margin: 5% 0%;
      padding-bottom: 10px;
      p{
        font-family: "Raleway", sans-serif;
        font-weight: lighter;


        &:nth-child(2) { 
          font-size: 0.6em; 
          align-self: flex-end; 
        }
        
        &:nth-child(3) { 
          font-size: 0.6rem; 
          color:  $accentColor;
          align-self: flex-end;

        }

      }
      border-bottom: 0.9px solid black; 
    }
  }

}

@media (min-width: 768px) {
  .learn-more {
    img {
      transition: transform 0.2s ease-in-out;
    }

    img:hover {
      transform: translateX(-10px);
    }
    a {
      :hover {
        color: $accentColor;
      }
  }
  
  }
  .Projects {
    margin-top: 8%;
    
    h1 {
      font-size: 3rem;
    }

    .project-titles{

      .project-item{
        display: flex;
        margin: 1% 0%;
        padding-bottom: 20px;
        font-size: 2rem; 
        p{
          font-family: "Raleway", sans-serif;
          font-weight: lighter;
          &:nth-child(2) { // Target the second <p> element (project-tag)
            font-size: 1.2rem; // Adjust the font size as needed
          }
          &:nth-child(3) { // Target the second <p> element (project-tag)
            font-size: 1.2rem; // Adjust the font size as needed
            color:  $accentColor;

          }
  
        }
        border-bottom: 1.5px solid black; 
      }
    }

  }
}